<div class="container">

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Currículo Lattes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ana Paula Gonçalves Serra</td>
                    <td>
                        <a href="http://lattes.cnpq.br/9640606649282934" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Angelo Sebastião Zanini</td>
                    <td>
                        <a href="http://lattes.cnpq.br/4899079630582471" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Aparecido Valdemir de Freitas</td>
                    <td>
                        <a href="http://lattes.cnpq.br/7066902372313632" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Everson Denis</td>
                    <td>
                        <a href="http://lattes.cnpq.br/6188650686969796" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Marco Antonio Furlan de Souza</td>
                    <td>
                        <a href="http://lattes.cnpq.br/5269353063539434" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Murilo Zanini de Carvalho</td>
                    <td>
                        <a href="http://lattes.cnpq.br/2274636131728093" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Rodrigo Bossini Tavares Moreira</td>
                    <td>
                        <a href="http://lattes.cnpq.br/6239865403144513" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Sergio Ribeiro Augusto</td>
                    <td>
                        <a href="http://lattes.cnpq.br/5713896758998889" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
                <tr>
                    <td>Vitor Alex Oliveira Alves</td>
                    <td>
                        <a href="http://lattes.cnpq.br/1001910426372055" target="blank">Link para o CV Lattes</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>