html{
    font-size: 62.5%;
}

body{
    background-color: aliceblue;
}

#titulo{
    text-align: center;
    color: rgb(51, 24, 207);
    font-family: Verdana,serif;
    font-size: 320%;
}

#foto_alunos{
    display: block;
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#introducao{
    border: 1pt solid rgb(51,24,207);
    background-color: rgb(206, 229, 238);
    width: 70%;
    font-family: cursive,serif;
    font-size: 160%;
    border: 1px solid black;
    padding: 5px;
}

#descricao{
    border: 1pt solid rgb(51,24,207);
    background-color: rgb(206, 229, 238);
    width: 70%;
    font-family: cursive,serif;
    font-size: 160%;
    border: 1px solid black;
    padding: 5px;
}

#lista-areas{
    border: 1pt solid rgb(51,24,207);
    background-color: rgb(206, 229, 238);
    font-family: monospace,serif;
    font-size: 160%;
    width: 35%;
}

#rodape{
    width: 100%;
    border: 1pt solid rgb(51,24,207);
    background-color: rgb(206, 229, 238);
    padding: 2px;
    text-align: center;
    font-style: italic;
    font-size: 130%;
}

@media (max-width: 720px){
    #introducao, #descricao, #lista-areas, #rodape{
        background-color: rgb(137, 193, 216);
    }
}